body{
    background: linear-gradient(118.3deg, #0E0E11 2.38%, #20263F 97.78%);
}
.input1{
    position: absolute;
left: 6%;
right: 6%;

top: 5%;
height: 30%;
min-height: 10vh;
color: #FFFFFF;
background: #16161C;
box-shadow: inset -4px -4px 8px rgba(59, 68, 81, 0.8), inset 4px 4px 8px rgba(0, 0, 0, 0.8);
border-radius: 5px;
}
.input1 .smile{
    
    position: absolute;
    width: 3%;
    height: auto;
    left: 3%;
    right: 26.04%;
    top: 17.97%;
    
}
.input2{
  height: 100%;
  width: 80%;
   font-size: 12px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
display: flex;


overflow-x: hidden;
}
.send{
    position: absolute;
    width: 3%;
    height: auto;
    left: 93%;
   
    top: 17.97%;
}